parameters:
	ignoreErrors:
		-
			message: '#^Method App\\Console\\Commands\\ClearAudioCache\:\:handle\(\) should return int but returns bool\.$#'
			identifier: return.type
			count: 1
			path: app/Console/Commands/ClearAudioCache.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Auth/ConfirmablePasswordController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Auth/EmailVerificationPromptController.php

		-
			message: '#^Parameter \#1 \$user of class Illuminate\\Auth\\Events\\Verified constructor expects Illuminate\\Contracts\\Auth\\MustVerifyEmail, App\\Models\\User\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: '#^Negated boolean expression is always true\.$#'
			identifier: booleanNot.alwaysTrue
			count: 1
			path: app/Http/Controllers/BoardController.php

		-
			message: '#^Method App\\Http\\Controllers\\HomeController\:\:getRandomActiveHomeCarouselSlides\(\) with return type void returns array but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: app/Http/Controllers/HomeController.php

		-
			message: '#^Result of method App\\Http\\Controllers\\HomeController\:\:getRandomActiveHomeCarouselSlides\(\) \(void\) is used\.$#'
			identifier: method.void
			count: 1
			path: app/Http/Controllers/HomeController.php

		-
			message: '#^PHPDoc type array of property App\\Models\\Player\:\:\$fillable is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$fillable\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/Player.php

		-
			message: '#^PHPDoc type array of property App\\Models\\User\:\:\$with is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$with\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/User.php

		-
			message: '#^PHPDoc type array\<int, string\> of property App\\Models\\User\:\:\$fillable is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$fillable\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/User.php

		-
			message: '#^PHPDoc type array\<int, string\> of property App\\Models\\User\:\:\$hidden is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$hidden\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/User.php

		-
			message: '#^PHPDoc type array of property App\\Models\\UserRole\\UserRole\:\:\$fillable is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$fillable\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/UserRole/UserRole.php

		-
			message: '#^PHPDoc type array of property App\\Models\\UserRole\\UserRoleLkp\:\:\$fillable is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$fillable\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/UserRole/UserRoleLkp.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 3
			path: database/seeders/UsersTableSeeder.php
