includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/
        - database/
        - routes/
        - tests/

    # Raise as the code gains types.
    level: 5
