/* Imported colors from Travelers mock-ups */
:root {
  // Let's not stick with unnamed colors, please?
  --unnamed-color-383735: #383735;
  --unnamed-color-faf9f8: #FAF9F8;
  --unnamed-color-f8e2ce: #F8E2CE;
  --unnamed-color-dfdae7: #DFDAE7;
  --unnamed-color-c3d0c9: #C3D0C9;
  --unnamed-color-c3d0c9-hsl: 148deg, 12%, 79%;
  --unnamed-color-d8c46f: #D8C46F;
  --salmon-red: #E88080; // unnamed-color-e88080
  --salmon-red-hsl: 0deg, 69%, 71%;
  --salmon-dark-red: #804343;
  --crimson-red: #6c1414; // actually a variation of salmon
  --crimson-red-hsl: 0, 69%, 25%; // actually a variation of salmon
  --unnamed-color-c0ceeb: #C0CEEB;
  // Default colors
  --white: #ffffff;
  --black: #000000;
  --gray-rgb: 160, 160, 160;
  --dark-gray-rgb: 90, 90, 90;
  --light-green: #edf9dd;
  --light-green-dark: #22241f;
  --pale-green: #78b594;
  --pale-green-rgb: 120, 181, 148;
  --pale-green-hsl: 148deg, 29%, 59%;
}

/* Traveler's default colour scheme */
:root {
    // Variables
    --trvl-header-height: calc(145px - 1rem);
    --trvl-c-background: var(--unnamed-color-c3d0c9);
    --trvl-c-background-hsl: var(--unnamed-color-c3d0c9-hsl);
    --trvl-c-text: var(--unnamed-color-383735);
    --trvl-c-link: var(--unnamed-color-383735);
    // Buttons
    --trvl-btn-bg: var(--unnamed-color-faf9f8);
    --trvl-btn-color: var(--unnamed-color-000000);
    --trvl-btn-border-color: var(--unnamed-color-383735);
    --trvl-btn-hover-bg: var(--unnamed-color-faf9f8);
    --trvl-btn-hover-color: var(--unnamed-color-000000);
    --trvl-btn-hover-border-color: var(--unnamed-color-383735);
    --trvl-btn-active-bg: var(--light-green);
    --trvl-btn-active-color: var(--light-green-dark);
    --trvl-btn-active-border-color: var(--light-green-dark);
    --trvl-btn-disabled-bg: var(--unnamed-color-faf9f8);
    --trvl-btn-disabled-color: var(--unnamed-color-000000);
    --trvl-btn-disabled-border-color: var(--unnamed-color-383735);
    --trvl-btn-hover-shadow-rgb: var(--dark-gray-rgb);
    --trvl-btn-focus-shadow-rgb: var(--pale-green-rgb);
    --trvl-shadow-focus-hsl: var(--pale-green-hsl);
    // Extensions
    --trvl-c-bright: var(--white);
    --trvl-c-dark: var(--black);
    --trvl-c-black: var(--black);
    --trvl-danger: var(--crimson-red);
    --trvl-danger-hsl: var(--crimson-red-hsl);
    --trvl-danger-color: var(--trvl-c-dark);
    --trvl-danger-bg: hsla(var(--salmon-red-hsl), 0.8); // was hsl(0, 75%, 89%, 0.9);
    --trvl-danger-border-color: var(--salmon-dark-red);
}

@media (prefers-color-scheme: dark) {
  :root {
    // ok, just joking...
    --trvl-c-background: var(--unnamed-color-c3d0c9);
    // or not?
  }
}

