// Backgrounds: Flowers & Mountains & Trees
.background,
.trvl-bg {
    input:not([type='checkbox']) {
        background-color: hsla(var(--trvl-c-background-hsl), 0.2);
    }
}

.background-mountains {
    min-height: 632px;
    background-image: url("../images/bg-wide-trees.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 1366px 768px;
    @media (max-width: 1199.98px) {
        min-height: 100vh;
    }
}

.background-dash-up { // header
    background-image: url("../images/bg-head-dash-2.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
    min-height: 194px;
}

.background-dash-down {
    background-image: url("../images/bg-g2-dash-down.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
}

/*
 * Background Group 1 contains:
 * (group) group #1
 * (abstract) back #2
 * (decoration) flowers #3
 */
.background-group-1,
.trvl-bg--group-1 {
    min-height: 632px;
    background-image: url("../images/bg-g1-side-group-1.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    background-size: 351px 632px;
    @media
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min--moz-device-pixel-ratio: 2),
        only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 2dppx) {
            background-image: url("../images/bg-g1-side-group-1@2x.png");
    }
    &.responsive-hide {
        @media (max-width: 575.98px) {
            background-image: url("../images/bg-g1-side-back-2.png");
            @media
            only screen and (-webkit-min-device-pixel-ratio: 2),
            only screen and (min--moz-device-pixel-ratio: 2),
            only screen and (min-device-pixel-ratio: 2),
            only screen and (min-resolution: 2dppx) {
                background-image: url("../images/bg-g1-side-back-2@2x.png");
            }
        }
    }
    &.responsive-hide-sm {
        @media (max-width: 767.98px) {
            background-image: url("../images/bg-g1-side-back-2.png");
            @media
            only screen and (-webkit-min-device-pixel-ratio: 2),
            only screen and (min--moz-device-pixel-ratio: 2),
            only screen and (min-device-pixel-ratio: 2),
            only screen and (min-resolution: 2dppx) {
                background-image: url("../images/bg-g1-side-back-2@2x.png");
            }
        }
    }
}

/*
 * Background Group 2
 * (decoration) Trees to the left  & the right of the page.
 * (queries) Media queries to hide trees in less than XXL sizes.
 */
@media (min-width: 1400px) {
    .col-xxl-8.background-group-2--col  {
        width: 78% !important;
    }
    .col-xxl-2.background-group-2--col {
        width: 11% !important;
    }
}
.background-group-2--tree-1 { // the left one
    background-image: url("../images/bg-g2-side-tree-2.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-size: 136px 208px;
    position: relative;
    bottom: -3rem;
    left: -2rem;
    // min-width:136px;
}
.background-group-2--tree-2 { // the right one
    background-image: url("../images/bg-g2-side-tree-1.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: 116px 179px;
    position: relative;
    top: -5rem;
    // min-width:136px;
}

/* Responsiveness */
// Portrait phones
@media (max-width: 575.98px) {
    .background input:not([type='checkbox']) {
        background-color: hsla(var(--trvl-c-background-hsl), 0.4);
    }
}
