// Backgrounds: Flowers & Mountains & Trees
.background,
.trvl-bg {
    input:not([type="checkbox"]) {
        background-color: hsla(var(--trvl-bg-hsl), 0.2);
    }
}

.background-mountains {
    min-height: 632px;
    background-image: url("/images/backgrounds/bg-wide-trees.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 1366px 768px;
    @include media-breakpoint-down(xl) {
        min-height: 100vh;
    }
}

// Game Header dash-line & Floating Dash
.background-dash-up {
    // header
    background-image: url("/images/backgrounds/bg-head-dash-2.png");
    background-repeat: no-repeat;
    background-position: 30% 60%;
    background-size: 1370px 142px;
    min-height: 195px;
    @include media-breakpoint-down(xxl) {
        background-position-y: bottom;
        background-position-x: center;
    }
}

// Floating-dash
.floating-dash {
    position: relative;
    display: block;
    top: -10rem;
    margin-bottom: -10rem;
    height: 203px;
    background-image: url("/images/landing/curves/curve-footer-dash.svg");
    background-position: 50% 50%;
    background-size: 1440px 203px;
    background-repeat: no-repeat;
    @include media-breakpoint-down(lg) {
        top: -8rem;
        margin-bottom: -8rem;
    }
}

/*
 * Background Group 1 contains:
 * (group) group #1
 * (abstract) back #2
 * (decoration) flowers #3
 */
.background-group-1,
.trvl-bg--group-1 {
    min-height: 632px;
    background-image: url("/images/backgrounds/bg-g1-side-group-1.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    background-size: 351px 632px;
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min--moz-device-pixel-ratio: 2),
        only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 2dppx) {
        background-image: url("/images/backgrounds/bg-g1-side-group-1@2x.png");
    }
    &.responsive-hide {
        @include media-breakpoint-down(sm) {
            background-image: url("/images/backgrounds/bg-g1-side-back-2.png");
            @media only screen and (-webkit-min-device-pixel-ratio: 2),
                only screen and (min--moz-device-pixel-ratio: 2),
                only screen and (min-device-pixel-ratio: 2),
                only screen and (min-resolution: 2dppx) {
                background-image: url("/images/backgrounds/bg-g1-side-back-2@2x.png");
            }
        }
    }
    &.responsive-hide-sm {
        @media (max-width: 767.98px) {
            background-image: url("/images/backgrounds/bg-g1-side-back-2.png");
            @media only screen and (-webkit-min-device-pixel-ratio: 2),
                only screen and (min--moz-device-pixel-ratio: 2),
                only screen and (min-device-pixel-ratio: 2),
                only screen and (min-resolution: 2dppx) {
                background-image: url("/images/backgrounds/bg-g1-side-back-2@2x.png");
            }
        }
    }
}

/*
 * Background Group 2
 * (decoration) Trees to the left  & the right of the page.
 * (queries) Media queries to hide trees in less than XXL sizes.
 */
@media (min-width: 1400px) {
    .col-xxl-8.background-group-2--col {
        width: 78% !important;
    }
    .col-xxl-2.background-group-2--col {
        width: 11% !important;
    }
}
.background-group-2--tree-1 {
    // the left one
    background-image: url("/images/backgrounds/bg-g2-side-tree-2.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-size: 136px 208px;
    position: relative;
    bottom: -3rem;
    left: -2rem;
    // min-width:136px;
}
.background-group-2--tree-2 {
    // the right one
    background-image: url("/images/backgrounds/bg-g2-side-tree-1.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: 116px 179px;
    position: relative;
    top: -5rem;
    // min-width:136px;
}

/*
 * Background Group 3
 * (decoration) Flowers (δάφνες;) to the right of the page
 *
 */
.background-group-3--dash {
    background-image: url("/images/backgrounds/bg-g2-dash-down.png");
    background-repeat: no-repeat;
    background-position: 0% 75%;
    background-size: 1368px 139px;
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min--moz-device-pixel-ratio: 2),
        only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 2dppx) {
        background-image: url("/images/backgrounds/bg-g2-dash-down@2x.png");
    }
}
.background-group-3--abstract {
    background-image: url("/images/backgrounds/bg-g3-abstract.png");
    background-repeat: no-repeat;
    background-position: 0% 20%;
    background-size: 83px 159px;
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min--moz-device-pixel-ratio: 2),
        only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 2dppx) {
        background-image: url("/images/backgrounds/bg-g3-abstract@2x.png");
    }
}
.background-group-3--flowers {
    background-image: url("/images/backgrounds/bg-g3-side-flowers.png");
    background-repeat: no-repeat;
    background-position: 100% 20%;
    background-size: 323px 541px;
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min--moz-device-pixel-ratio: 2),
        only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 2dppx) {
        background-image: url("/images/backgrounds/bg-g3-side-flowers@2x.png");
    }
    @media (max-width: 575.98px) {
        background-image: none;
    }
}

/* Landing page(s) curves */
.trvl-curve {
    background-repeat: no-repeat;
    &--landing-three-blocks--sm-lg-dash {
        @media (max-width: 991.98px) {
            background-image: url("/images/landing/curves/curve-landing_one-xl-dash.svg");
            background-position: 0% 5%;
            background-repeat: no-repeat;
            background-size: 1440px 302px;
            @media (max-width: 575.98px) {
                background-position: 20% 0%;
            }
        }
    }
    &--landing-one-lg--color--green {
        background-image: url("/images/landing/curves/curve-landing_one-lg-green.svg");
        background-position: 0% 0%;
        background-size: 100% 243px;
        @media (max-width: 575.98px) {
            background-size: 100% 243px;
        }
        @media (min-width: 992px) {
            background: none;
        }
    }
    &--landing-one-xl {
        height: 302px;
        &--color {
            background-position: 0% 50%;
            background-size: 100% 302px;
            &--green {
                background-image: url("/images/landing/curves/curve-landing_one-xl-green.svg");
            }
        }
        &--dash {
            background-image: url("/images/landing/curves/curve-landing_one-xl-dash.svg");
            background-position: 50% 50%;
            background-size: 1440px 302px;
        }
    }
    &--landing-two {
        height: 149px;
        &--color {
            background-position: 0% 50%;
            background-size: 100% 149px;
            &--brown {
                background-image: url("/images/landing/curves/curve-landing_two-brown.svg");
            }
        }
    }
    &--footer {
        height: 203px;
        &--color {
            background-position: 0% 50%;
            background-size: 100% 203px;
            &--green {
                background-image: url("/images/landing/curves/curve-footer-green.svg");
            }
        }
        &--dash {
            background-image: url("/images/landing/curves/curve-footer-dash.svg");
            background-position: 50% 50%;
            background-size: 1440px 203px;
        }
    }
    &--header {
        height: 208px;
        &--color {
            background-position: 0% 50%;
            background-size: 100% 208px;
            &--green {
                background-image: url("/images/landing/curves/curve-header-green.svg");
            }
            &--white {
                background-image: url("/images/landing/curves/curve-header-white.svg");
            }
        }
        &--dash {
            background-image: url("/images/landing/curves/curve-header-dash.svg");
            background-position: 50% 50%;
            background-size: 1440px 208px;
        }
    }
}

/* Responsiveness */
// Portrait phones
@media (max-width: 575.98px) {
    .background input:not([type="checkbox"]) {
        background-color: hsla(var(--trvl-bg-hsl), 0.4);
    }
}
