// Backgrounds: Flowers & Mountains & Trees
.background,
.trvl-bg {
    input:not([type='checkbox']) {
        background-color: hsla(var(--trvl-c-background-hsl), 0.2);
    }
}

.background-mountains {
    min-height: 632px;
    background-image: url("../images/bg-wide-trees.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 1366px 768px;
    @media (max-width: 1199.98px) {
        background-position-x: left;
        min-height: 100vh;
    }
}

/* Group 1 contains:
 * (group) group #1
 * (abstract) back #2
 * (decoration) flowers #3
 */
.background-group-1,
.trvl-bg--group-1 {
    min-height: 632px;
    background-image: url("../images/bg-g1-side-group-1.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    background-size: 351px 632px;
    @media
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min--moz-device-pixel-ratio: 2),
        only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 2dppx) {
            background-image: url("../images/bg-g1-side-group-1@2x.png");
    }
    &.responsive-hide {
        @media (max-width: 575.98px) {
            background-image: url("../images/bg-g1-side-back-2.png");
            @media
            only screen and (-webkit-min-device-pixel-ratio: 2),
            only screen and (min--moz-device-pixel-ratio: 2),
            only screen and (min-device-pixel-ratio: 2),
            only screen and (min-resolution: 2dppx) {
                background-image: url("../images/bg-g1-side-back-2@2x.png");
            }
        }
    }
    &.responsive-hide-sm {
        @media (max-width: 767.98px) {
            background-image: url("../images/bg-g1-side-back-2.png");
            @media
            only screen and (-webkit-min-device-pixel-ratio: 2),
            only screen and (min--moz-device-pixel-ratio: 2),
            only screen and (min-device-pixel-ratio: 2),
            only screen and (min-resolution: 2dppx) {
                background-image: url("../images/bg-g1-side-back-2@2x.png");
            }
        }
    }
}

/* Responsiveness */
// Portrait phones
@media (max-width: 575.98px) {
    .background input:not([type='checkbox']) {
        background-color: hsla(var(--trvl-c-background-hsl), 0.4);
    }
}
