/* Travelers - Ταξιδιώτες Main SCSS Structure */

/* Imports */
//
// Fonts
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600;700;800&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;500;600;900&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Nunito');
// Note:
// Instead of the import, we can manually add the non-variable OFL licensed
// version of the font, build for all platforms and all the weights and styles
// proposed on the mock-ups. @see https://github.com/rsms/inter-gf-tight ...
// Please @see "_fonts.scss" for more information about this implementation.
// @import "fonts";
//
// Bootstrap's variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
//
// Base theme & CSS Variables
@import 'base';
//
// Components
@import 'components/buttons';


body {
  background-color: var(--trvl-c-background);
  color: var(--trvl-c-text);
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}
.container,
.container-fluid,
.container-xxl {
  min-width: 340px;
}
// Vertical-aligned middle elements
/* FLEXBOX SOLUTION */
.trvl-middleflex--container {
  display: flex;
  align-items: center;
  height: calc(100vh - 80px);
  width: 100%;
  @media (max-height: 910px) {
    height: auto;
  }
}
.trvl-middleflex--contents {
  width: 100%;
}
/* TRANSFORM SOLUTION (=not suitable for grid contents) */
.trvl-middletrans--contents {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/* CALC SOLUTION (=needs to have accurate height contents */
.trvl-middlestick--container {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}
.trvl-middlestick--contents {
  height: calc(100vh - (632px - 125px)/2); /* = 50% */
  width: 100%;
  vertical-align: middle;
  position: absolute;
  top: 0;
  bottom: 0%;
  margin: auto;
}

// Main Content
div.trvl-main-content {
  h1 {
    font-size: 2em;
    color: var(--trvl-c-black);
  }
}
// Backgrounds: Flowers & Mountains & Trrees
.trvl-bg {
  input:not([type='checkbox']) {
    background-color: hsla(var(--trvl-c-background-hsl), 0.2);
  }
}
.trvl-bg--mountains {
  background-image: url("../images/bg-wide-trees.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}
.trvl-bg--flower-12 {
  min-height: 632px;
  background-image: url("../images/bg-side-color-flower-12.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  @media (max-width: 575.98px) {
    &.responsive-hide {
      background-image: url("../images/bg-side-color-12.png");
    }
  }
}
// Success
body.trvl-middle {
  overflow: hidden;
}
div.trvl-middle {
  height: calc(100vh - 180px);
  width: calc(100vw - 4rem);
  &--content {
    min-height: 50%;
    text-align: center;
    position: relative;
    top: 30%;
    transform: translateY(-50%);
    @media (max-height: 500px) {
      transform: translateY(0);
      top: 0;
    }
    h1 {
      font-weight: 600;
      color: var(--trvl-c-text);
      font-size: 2.1rem;
      margin-bottom: 3rem;
    }
  }
}

// Footer
footer.trvl-footer {
  position:relative;
  bottom: 50px;
}
// Off-canvas messages
div.trvl-offcanvas {
  // enough for at least 2 lines of text as we can't really be responsive.
  --bs-offcanvas-height: 8rem;
}

// Links
a,
a:hover,
a:active,
a:visited {
  color: var(--trvl-c-link);
  outline: none;
  // @TODO:  Outline, focus, active, visited states for buttons
}
a:focus-visible {
  outline-color: hsla(var(--trvl-shadow-focus-hsl), 0.75);
  outline-width: 0.2rem;
  outline-style: solid;
}

// Forms
div.trvl-form {
  padding: 0 8em; // v h -- t e b s
  @media (max-width: 767.98px) {
    padding: 0;
  }
}
input[type=checkbox] {
  background-color: var(--trvl-btn-bg);
  border-color: var(--trvl-c-text);
  &:checked {
    border-color: var(--trvl-c-text);
    background-color: var(--trvl-c-text);
  }
  &:focus {
    border-color: var(--trvl-c-text);
    // box-shadow: 0 0 0 0.25rem rgba(var(--trvl-btn-focus-shadow-rgb), 0.55);
    box-shadow: 0 0 0 0.25em hsla(var(--trvl-shadow-focus-hsl), 0.5);

  }
}

input {
  outline: none; // @TODO: Outlines for focus
  &.extended {
    width: 100%;
    font-weight: 300; // a little bit less bolder than the normal (400)
    line-height: 2.5;
    background-color: var(--trvl-c-background);
    border-bottom: 2px solid var(--trvl-c-text);
    border-left: none;
    border-right: none;
    border-top: none;
  }
  &:focus,
  &:focus-visible,
  &:focus-within {
    box-shadow: inset 0 -0.25em hsla(var(--trvl-shadow-focus-hsl), 0.4);
  }
}
label {
  font-weight: 400; // make sure we have a regular/normal weight
  &.extended {
    display: block;
    padding-bottom: 0.5em;
  }
}

// Custom new things
div.text-start-end {
  text-align: right;
}

// Responsiveness
@media (max-width: 575.98px) {
  div.trvl-main-content {
    margin-bottom: 25px;
  }
  div.text-start-end {
    text-align: left;
  }
  .trvl-bg input:not([type='checkbox']) {
    background-color: hsla(var(--trvl-c-background-hsl), 0.4);
  }
}
