/* Travelers - Ταξιδιώτες Main SCSS Structure */

/* Imports */
//
// Fonts
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600;700;800&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;500;600;900&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Nunito');
//@import url('https://fonts.googleapis.com/css2?family=Mansalva:wght@400&display=swap');
// Note:
// Instead of the import, we can manually add the non-variable OFL licensed
// version of the font, build for all platforms and all the weights and styles
// Please @see "_fonts.scss" for more information about this implementation.
// @import "fonts";
//
// Bootstrap's variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
//
// Base theme & CSS Variables
@import 'base';
//
// Components
@import 'components/avatars';
@import 'components/buttons';
@import 'components/forms';
@import 'components/icons';
@import 'components/stepper';
//
// Misc
@import "decoration";

/* Global constants and Bootstrap extensions */
body {
    background-color: var(--trvl-c-background);
    color: var(--trvl-c-text);
    min-height: 100vh;
    min-width: 340px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
}

a, a:hover, a:active, a:visited {
  color: var(--trvl-c-link);
  outline: none;
  // @TODO:  Outline, focus, active, visited states for buttons
}
a:focus, a:focus-visible {
  outline-color: hsla(var(--trvl-shadow-focus-hsl), 0.75);
  outline-width: 0.2rem;
  outline-style: solid;
}

header img,
footer img {
    display:block;
}

// Alerts
.alert-danger {
    font-weight: 500;
    --bs-alert-color: var(--trvl-danger-color);
    --bs-alert-bg: var(--trvl-danger-bg);
    --bs-alert-border-color: var(--trvl-danger-border-color);
}


/* Main Content (absolute center & middle via flexbox). */
.travelers {
    display: flex;
    align-items: center;
    min-height: 100vh;
}
.content {
    width: 100%;
}

/* Sections */
// Main Content
.section {
  h1 {
    font-size: 2em;
    color: var(--trvl-c-black);
  }
}

// Settings & Profiles
.settings-header,
.gamesettings-header {
    h1 {
        font-size: 2em;
        line-height: 1;
    }
}
.settings {
    min-height: 398px;
    h1 {
        font-size: 2em;
        color: var(--trvl-c-text);
    }
    /*
    .settings-row:nth-child(2) {
        margin-bottom: 2.5em;
    }
    .settings-row:last-child {
        margin-bottom: 5em;
    }
    */
    .dices {
        .dice-field {
            &--img {
                img {
                    display:block;
                    position: relative;
                    left: -1rem;
                    cursor: pointer;
                }
            }
            &--check {
                padding-left: 0.2rem;
            }
        }
    }
    @media (max-width: 575.98px) {
        padding-bottom: 2rem;
    }
}

// Success
.confirmation-page {
    min-height: 632px;
    h1 {
        font-weight: 600;
        font-size: 2.1rem;
        margin-bottom: 3rem;
        color: var(--trvl-c-text);
    }
    @media (max-width: 1199.98px) {
        min-height: calc(100vh - var(--trvl-header-height));
    }
    // Confirmation link
    a.confirmation-link {
        display:flex;
        transition: all .2s ease-in-out;
        box-shadow: 0 0.3rem rgba(0,0,0,0.05);
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 200px;
        height: 200px;
        text-align: center;
        border-radius: 50%;
        background-color: rgba(238, 235, 235, 0.8);
        border-color: var(--trvl-btn-border-color);
    }
    a.confirmation-animation {
        animation: animation-confirm-button 1.2s;
        animation-iteration-count: 2;
        @media (prefers-reduced-motion) {
            animation: none !important;
            scale: 1 !important;
        }
    }
    a.confirmation-link:hover {
        background-color: var(--trvl-btn-bg);
        box-shadow: 0 0.3rem rgba(0,0,0,0.1);
        border-color: var(--trvl-btn-border-color);
    }
    @keyframes animation-confirm-button {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
        }
    }
}

// Footer
.trvl-footer {
    // position:relative;
    // bottom: 50px;
    position: relative;
    .scify {
        position: absolute;
        top: -53px; // --trvl-footer-height-negative (hard-coded for compatibility)
        top: var(--trvl-footer-height-negative);
        float: left;
    }
}

// Off-canvas messages
.offcanvas.is-invalid {
    // enough for at least 2 lines of text as we can't really be responsive.
    --bs-offcanvas-height: 8rem;
    --bs-offcanvas-bg: #f9c5bf;
    font-weight: 800;
    .btn-close {
        width: 1.2em;
        height: 1.2em;
        background-size: 1.2em;
    }
}

// Custom new utilities
.w-11,
.w-144 {
    width: 11rem;
}
.w-22 {
    width: 22rem;
}
.w-25 {
    width: 25rem;
}
.text-start-end,
.text-start-end-start-end,
.text-center-end {
    text-align: right;
}

/* Responsiveness */

// Portrait phones
@media (max-width: 575.98px) {
    .section,
    div.trvl-main-content {
        margin-bottom: 4rem;
    }
    .text-start-end,
    .text-start-end-start-end {
        text-align: left;
    }
    .text-center-end {
        text-align: center;
    }
    .trvl-footer  {
        .scify {
            left: calc(100vw - 1.25rem - var(--trvl-footer-width));
            top: calc(var(--trvl-footer-height-negative) - 1rem);
        }
    }
}

// Landscape phones
@media (min-width: 576px) and (max-width: 767.98px){
    .text-start-end-start-end {
        text-align: right;
    }
    .text-center-end {
        text-align: center;
    }
}

// Tablets
@media (min-width: 767px) and (max-width: 991.98px) {
    .text-start-end-start-end {
        text-align: left;
    }
      .text-center-end {
        text-align: center;
    }
}
