/* Travelers - Ταξιδιώτες Main SCSS Structure */

/* Imports */
//
// Fonts
// Manrope by Mikhail Saranda.
// Weights:
// - Light: 300
// - Regular/Normal: 400
// - Medium: 500
// - SemiBold: 600
// - Bold: 700
// - ExtraBold: 800
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");
//@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;500;600;900&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Nunito');
//@import url('https://fonts.googleapis.com/css2?family=Mansalva:wght@400&display=swap');
// Note:
// Instead of the import, we can manually add the non-variable OFL licensed
// version of the font, build for all platforms and all the weights and styles
// Please @see "_fonts.scss" for more information about this implementation.
// @import "fonts";
//
// Bootstrap's variables
@import "variables";
// Bootstrap
@import "~bootstrap/scss/bootstrap";
//
// Base theme & CSS Variables
@import "base";
//
// Components
@import "components/avatars";
@import "components/buttons";
@import "components/forms";
@import "components/icons";
@import "components/stepper";
//
// Misc
@import "decoration";

/* Global constants and Bootstrap extensions */
body {
    background-color: var(--trvl-bg);
    color: var(--trvl-color);
    min-height: 100vh;
    min-width: 340px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
}

a,
a:hover,
a:active,
a:visited {
    color: var(--trvl-link);
    outline: none;
}
a:focus-visible {
    outline-color: hsla(
        0,
        0%,
        0%,
        0.7
    ); // hsla(var(--trvl-shadow-focus-hsl), 0.75)
    outline-width: 0.3rem;
    outline-style: solid;
}

header img,
footer img {
    display: block;
}

kbd {
    font-weight: 600;
    font-family: "Manrope";
}

/* Bootstrap friendly global tags */
.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--trvl-bg-light-rgb), var(--bs-bg-opacity));
    color: var(--trvl-color);
}
.bg-green {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--trvl-bg-rgb), var(--bs-bg-opacity));
    color: var(--trvl-color);
}
.bg-brown {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--trvl-bg-brown-rgb), var(--bs-bg-opacity));
    color: var(--trvl-color);
}
.bg-salmon {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--trvl-bg-salmon-rgb), var(--bs-bg-opacity));
    color: var(--trvl-c-white);
}

// Alerts
.alert-danger {
    font-weight: 500;
    --bs-alert-color: var(--trvl-danger-color);
    --bs-alert-bg: var(--trvl-danger-bg);
    --bs-alert-border-color: var(--trvl-danger-border-color);
}

/* Main Landing Content (non-game related pages) */
// Landing footer
.trvl-landing-footer-curve {
    height: 203px;
    background-image: url("/images/landing/curves/curve_footer_color.svg");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    background-size: 100% 203px;
    &--dash {
        height: 203px;
        background-image: url("/images/landing/curves/curve_footer_dash.svg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 1440px 203px;
    }
}
.trvl-landing-footer {
    font-weight: 500;
    &--links {
        ul {
            padding-left: 0;
            li {
                list-style: none;
                padding-bottom: 0.75rem;
                a {
                    text-decoration: none;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    &--social {
        u {
            display: inline-block;
            white-space: nowrap;
        }
        ul {
            padding-top: 1rem;
            display: flex;
            gap: 2rem;
            padding-left: 0;
            li {
                display: flex;
                align-items: center;
                list-style: none;
                width: 36px;
                height: 36px;
                a {
                    display: inline-block;
                    text-decoration: none;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}
// Landing footer social media

/* Main Game Content (absolute center & middle via flexbox). */
.travelers {
    display: flex;
    align-items: center;
    min-height: 100vh;
}
.travelers-container {
    width: 100%;
}

section.content {
    min-height: 480px;
}

// Splash
img.splash {
    aspect-ratio: 2/1.09;
    max-width: 80vh;
    margin: 0 auto;
    display: block !important;
    animation: splashFadeIn 2s;
    animation-fill-mode: forwards;
    color: #fff;
    fill: #fff;
}
@keyframes splashFadeIn {
    0% {
        opacity: 0;
        color: #000;
    }
    100% {
        opacity: 1;
        color: #fff;
    }
}

/* Sections */
// Main Content
.section {
    h1 {
        font-size: 2em;
        color: var(--trvl-c-dark);
    }
}

// Settings & Profiles
.settings-header,
.gamesettings-header,
.gameselect-header {
    max-width: 900px;
    h1 {
        font-size: 2em;
        line-height: 1;
    }
}
.settings {
    min-height: 398px;
    h1 {
        font-size: 2em;
        color: var(--trvl-color);
    }
    /*
    .settings-row:nth-child(2) {
        margin-bottom: 2.5em;
    }
    .settings-row:last-child {
        margin-bottom: 5em;
    }
    */
    .dices {
        .dice-field {
            &--img {
                img {
                    display: block;
                    position: relative;
                    left: -1rem;
                    cursor: pointer;
                }
            }
            &--check {
                padding-left: 0.2rem;
            }
        }
    }
    @media (max-width: 575.98px) {
        padding-bottom: 2rem;
    }
}
// Manual height calculations based on the background heights.
.gamestart {
    min-height: 520px;
}
.gamesettings {
    // gamesettings
    min-height: 590px;
}
.gameselect {
    min-height: 495px;
}

/* User */
.user {
    width: 140px;
    height: 100px;
}
.user-button {
    --bs-btn-padding-x: 0;
    --bs-btn-padding-y: 0;
    --bs-btn-focus-shadow-rgb: var(--trvl-btn-focus-shadow-rgb);
    border: none !important;
    &:hover {
        box-shadow: none;
    }
    &::after {
        // dropdown triangle
        z-index: 1001; // @see https://getbootstrap.com/docs/5.0/layout/z-index/
        position: absolute;
        margin-left: 0;
        right: 36px;
        bottom: 24px;
        transition: all 0.1s ease-in-out;
        // vertical-align: 0.75em;
    }
    &[aria-expanded="true"] img {
        scale: 1.1;
    }
    &[aria-expanded="true"] .user-label {
        transform: translateX(-40px);
        text-align: left;
        padding-left: 0.5rem;
    }
    &[aria-expanded="true"]::after {
        border-bottom: 0.3em solid;
        border-top: 0;
    }
    &:hover:not([aria-expanded="true"]) img {
        scale: 1.05;
    }
    img {
        transition: all 0.2s ease-out;
        margin: 0 auto;
        padding: 0;
        background: #fff;
        border-radius: 50%;
        z-index: 1001;
        position: relative;
        &.sun {
            filter: blur(4px) opacity(0.9);
            box-shadow: 0 0 10px orange, 0 0 60px orange, 0 0 200px yellow,
                inset 0 0 80px yellow;
        }
    }
    @media (prefers-reduced-motion) {
        scale: 1 !important;
    }
}

.user-label {
    display: block; // block/inline-block for ellipsis.
    font-weight: 600;
    z-index: 1002;
    position: relative; // for z-index
    font-size: 1rem;
    width: 140px;
    min-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.user-menu {
    padding-top: 2.75rem;
    padding-bottom: 1rem;
    --bs-dropdown-zindex: 1000;
    --bs-dropdown-bg: var(--trvl-dropdown-bg);
    --bs-dropdown-color: var(--trvl-color);
    --bs-dropdown-border-radius: 10%;
    --bs-dropdown-border-width: 0;
    --bs-dropdown-link-hover-bg: #faefe4;
    font-weight: 600;
    box-shadow: 0 0.2em rgba(0, 0, 0, 0.1);
}
.user-menu li a {
    transition: all 0.1s ease-in;
}
.user-menu-item:active {
    background-color: var(--trvl-color);
}

// Modals
.modal-content {
    --bs-modal-bg: var(--trvl-modal-bg);
    --bs-modal-header-border-color: var(--trvl-modal-bg);
    --bs-modal-footer-border-color: var(--trvl-modal-bg);
    --bs-modal-border-radius: 3rem;
    --bs-modal-header-padding: 1.5rem 3rem;
    --bs-modal-padding: 1rem 3rem;
}
.modal-title {
    font-size: 1.6rem;
}
.modal-header {
    border-bottom: none;
}
.modal-subheader {
    font-weight: 700;
    font-size: 1.2rem;
}
.modal-body {
    font-size: 1.1rem;
}

.modal-footer {
    --bs-modal-padding: 3rem;
    padding-bottom: 2rem;
    font-size: 1.1rem;
    button {
        font-weight: bold;
        font-size: 1.1rem;
    }
}

// Success
.confirmation-page {
    min-height: 632px;
    h1 {
        font-weight: 600;
        font-size: 2.1rem;
        margin-bottom: 3rem;
        color: var(--trvl-color);
    }
    @media (max-width: 1199.98px) {
        min-height: calc(100vh - var(--trvl-header-height) - 1.5rem);
    }
    // Confirmation link
    a.confirmation-link {
        display: flex;
        transition: all 0.2s ease-in-out;
        box-shadow: 0 0.3rem rgba(0, 0, 0, 0.05);
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 200px;
        height: 200px;
        text-align: center;
        border-radius: 50%;
        background-color: rgba(238, 235, 235, 0.8);
        border-color: var(--trvl-btn-border-color);
        font-weight: 800;
        font-size: 2rem;
        text-decoration: none;
        color: rgba(var(--trvl-c-dark-rgb), 0.8);
    }
    a.confirmation-animation {
        animation: animation-confirm-button 1.2s;
        animation-iteration-count: 2;
        @media (prefers-reduced-motion) {
            animation: none !important;
            scale: 1 !important;
        }
    }
    a.confirmation-link:hover {
        background-color: var(--trvl-btn-bg);
        box-shadow: 0 0.3rem rgba(0, 0, 0, 0.1);
        border-color: var(--trvl-btn-border-color);
        color: rgba(var(--trvl-c-dark-rgb), 1);
    }
    @keyframes animation-confirm-button {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
        }
    }
}

// Footer
.trvl-footer {
    // bottom: 50px;
    position: relative;
    .scify {
        position: absolute;
        top: -53px; // --trvl-footer-height-negative (hard-coded for compatibility)
        top: var(--trvl-footer-height-negative);
        float: left;
    }
}

// Off-canvas messages
.offcanvas.is-invalid {
    // enough for at least 2 lines of text as we can't really be responsive.
    --bs-offcanvas-height: 8rem;
    --bs-offcanvas-padding-x: 2rem;
    --bs-offcanvas-color: var(--trvl-c-dark);
    --bs-offcanvas-bg: var(--trvl-danger-light-bg);
    font-weight: 800;
}

// Custom new utilities
.w-11,
.w-144 {
    width: 11rem;
}
.w-12 {
    width: 12rem;
}
.w-14 {
    width: 14rem;
}
.w-22 {
    width: 22rem;
}
.text-start-end,
.text-start-end-start-end,
.text-center-end {
    text-align: right;
}
.fix-pawn-margin {
    // Due to pawn selection biggest than usual height,
    // the button has to move inside the grid :(.
    margin-top: -3.3rem !important;
}

/* Responsiveness */

// Portrait phones
// Game board buttons responsiveness.
@media (max-width: 400px) {
    .gameselect {
        padding: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .gameselect .col {
        width: 100%;
    }

    .btn-board {
        border-radius: 0 !important;
        border-left: none !important;
        border-right: none !important;
        border-top: 0.3rem solid transparent;
        border-bottom: 0.3rem solid transparent;
    }
    .board-img {
        width: 100% !important;
        height: auto !important;
        border-radius: 0 !important;
        margin: 0 auto;
    }
    .btn-board .coming-soon-wrapper {
        border-start-end-radius: 0;
    }
}

@media (max-width: 575.98px) {
    .section,
    div.trvl-main-content {
        margin-bottom: 4rem;
    }
    .text-start-end,
    .text-start-end-start-end {
        text-align: left;
    }
    .text-center-end {
        text-align: center;
    }
    .trvl-footer {
        .scify {
            left: calc(100vw - 1.25rem - var(--trvl-footer-width));
            top: calc(var(--trvl-footer-height-negative) - 1rem);
        }
    }
}

// Landscape phones
@media (min-width: 576px) and (max-width: 767.98px) {
    .text-start-end-start-end {
        text-align: right;
    }
    .text-center-end {
        text-align: center;
    }
}

// Tablets
@media (min-width: 767px) and (max-width: 991.98px) {
    .text-start-end-start-end {
        text-align: left;
    }
    .text-center-end {
        text-align: center;
    }
}

// Remove top padding from header if there's sufficient blank space on top.
@media (min-height: 768px) and (min-width: 1400px) {
    .trvl-header.centered {
        padding-top: 0 !important;
    }
}
