.avatar-col {
    min-height: 150px;
}

.btn-avatar {
    --bs-btn-active-bg: #edf9dd;
    --bs-btn-hover-bg: var(--trvl-btn-hover-bg);
    --bs-btn-focus-box-shadow: 0 0 0 0.3rem rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
    --bs-btn-focus-shadow-rgb: var(--trvl-btn-focus-shadow-rgb);
    background-color: var(--trvl-btn-bg);
    transition: all .2s ease-out;
    padding: 0;
    border: none;
    &.btn-round {
        width: 100px;
        height: 100px;
    }
    &:focus, &:focus-visible:not(:hover) {
        scale: 1.1;
    }
    &:hover {
        scale: 1.1;
    }
    &.selected {
        scale: 1.2;
        &:hover {
            scale: 1.2;
        }
        &:focus, &:focus-visible:not(:hover) {
            scale: 1.2;
        }
    }
    &.faded {
        opacity: 0.8;
        img {
            filter: grayscale(90%);
        }
    }
    @media (prefers-reduced-motion) {
        scale: 1 !important;
    }
}

.btn-avatar img {
    position: relative;
    display: inline-block;
    margin: 0 !important;
    padding: 0 !important;
    width: 100px;
    height: 100px;
}

.btn-avatar > .label-avatar {
    display: block;
    position: relative;
    top: 2px;
    z-index: 98;
    font-size: 1rem;
    font-weight: 500;
    color: var(--trvl-c-text);
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    max-width: 100px;
}
.btn-avatar:hover > .label-avatar {
    // scale: 0.9;
}
.btn-avatar.selected > .label-avatar {
    // scale: 0.9;
    font-weight: 600;
}
.btn-avatar > .label-avatar.hidden {
    left: -3000px;
    right: -3000px;
}
