/* Buttons */
// Base
.btn {
    --bs-btn-focus-box-shadow: 0 0 0 0.3rem
        rgba(var(--bs-btn-focus-shadow-rgb), 0.6);
}
.btn:hover {
    box-shadow: 0 0.3rem rgba(var(--trvl-btn-hover-shadow-rgb), 0.1);
}

/* Primary & Secondary buttons */
// Primary button
.btn-primary {
    --bs-btn-color: var(--trvl-btn-color);
    --bs-btn-bg: var(--trvl-btn-bg);
    --bs-btn-hover-color: var(--trvl-btn-hover-color);
    --bs-btn-hover-bg: var(--trvl-btn-hover-bg);
    --bs-btn-disabled-color: var(--trvl-btn-disabled-color);
    --bs-btn-disabled-bg: var(--trvl-btn-disabled-bg);
    --bs-btn-disabled-border-color: var(--trvl-btn-disabled-border-color);
}
// Secondary button
.btn-secondary {
    --bs-btn-color: var(--trvl-btn-color);
    --bs-btn-bg: #bfcfd0;
    --bs-btn-hover-color: var(--trvl-btn-color);
    --bs-btn-hover-bg: #bacaca;
    --bs-btn-disabled-color: var(--trvl-btn-disabled-color);
    --bs-btn-disabled-bg: #bacaca;
    --bs-btn-disabled-border-color: var(--trvl-btn-disabled-border-color);
}
.btn-primary,
.btn-secondary {
    --bs-btn-border-color: var(--trvl-btn-border-color);
    --bs-btn-hover-border-color: var(--trvl-btn-hover-border-color);
    --bs-btn-active-color: var(--trvl-btn-active-color);
    --bs-btn-active-bg: var(--trvl-btn-active-bg);
    --bs-btn-active-border-color: var(--trvl-btn-active-border-color);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(var(--trvl-c-dark-rgb), 0.125);
    --bs-btn-focus-shadow-rgb: var(--trvl-btn-focus-shadow-rgb);
}

// Danger-danger!
.btn-danger {
    --bs-btn-color: var(--trvl-danger-light-text);
    --bs-btn-bg: var(--trvl-danger-light-bg);
    --bs-btn-border-color: var(--trvl-danger-light-text);
    // @TODO: Implement hover/active /disabled states.
    --bs-btn-hover-color: var(--trvl-danger-light-text);
    --bs-btn-hover-bg: var(--trvl-danger-light-bg);
    --bs-btn-active-color: var(--trvl-danger-light-text);
    --bs-btn-active-bg: var(--trvl-danger-light-bg);
    --bs-btn-disabled-color: var(--trvl-btn-disabled-color);
    --bs-btn-disabled-bg: var(--trvl-danger-light-bg);
    --bs-btn-disabled-border-color: var(--trvl-danger-light-text);
}

// Close button adjustments
.btn-close {
    opacity: 0.8;
    background-size: 18px 18px;
}
.btn-close:hover {
    opacity: 1;
}
// Off-canvas button close adjustments
.offcanvas-header .btn-close {
    width: 1.4em;
    height: 1.4em;
    // background-size: 1.4em;
    background: transparent
        url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z' style='stroke-width: 1.5;' /%3e%3c/svg%3e")
        center/1.4em auto no-repeat;
}

// Round button
.btn-round {
    --bs-btn-border-radius: 50%;
}

// Special buttons

.buttonstack {
    width: 16rem;
    @media (max-width: 575.98px) {
        width: 100%;
    }
}

// Balloon-on-hover button!
.btn-balloon {
    white-space: nowrap;
    position: relative;
    > .balloon {
        cursor: default;
        opacity: 0;
        transition: all 0.2s ease-in-out;
        color: #aaaaaa;
        content: "";
        width: 44px;
        height: 44px;
        position: absolute;
        line-height: 1;
        right: 22rem;
        bottom: 0;
        background-image: url("data:image/svg+xml,%3Csvg height='44' viewBox='0 0 44 44' width='44' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m14 43c-.20962-.064766-3-1-3-1-1.513595-.358608-.996483-1.043674-.521459-2.285126l.570313-1.755859.117187-4.958984h.072266c-.266076-1.18224-.724609-3.123047-.724609-3.123047-.00153-.003392-.002357-.006352-.003907-.009766-21.728994-27.037796 5.156163-28.990047 5.244141-28.990234 3.417121-.755005 7.148822-.472699 10.583985.65039l.22461.072266c3.529783 1.156998 6.787941 3.213177 9.111328 5.953125 2.912235 2.364143 17.446834 16.384024-12.476563 25.953125-.267002.122036-.486084.231048-.658203.330078-.04026.03434-2.667726 2.277378-3.019531 2.605469-.354504.330612-.624661.496433-.830078.429687l-.054688-.017578-1.611328 2.705078.208985.06836c.110805.036579.172779.154644.136718.265625l-.611328 1.878906c-.681677 1.665386-.815669 1.828548-2.757839 1.228485zm2.046902-3.759735 1.611328-2.707031-1.876954-.613282-1.132813 2.861329zm-2.431642-.796875 1.132813-2.861328-2.457032-.804688-.076172 3.207032z' fill='%23383735' fill-rule='evenodd'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        @media (max-width: 575.98px) {
            width: 38px;
            height: 38px;
            background-size: 32px 32px;
        }
    }
    &:hover > .balloon {
        opacity: 1;
        @media (max-width: 575.98px) {
            opacity: 0.9;
        }
    }
}

.btn-help {
    display: inline-block;
    position: absolute; // Relative introduces extra height on Firefox.
    bottom: calc(
        0.9rem + 0.1vw
    ); // The "i" is moving closer to base as the screen gets smaller, to avoid being on-top of possible wrapped elements.
    padding: 0;
    margin: 0;
    margin-left: 3px;
    cursor: help !important;
    width: 22px;
    height: 22px;
    border: none;
    outline: none;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22' fill='%23383735'%3E%3Cpath d='M10.825 1.457A9.364 9.364 0 1 1 4.2 4.2a9.306 9.306 0 0 1 6.625-2.743m0-1.457a10.825 10.825 0 1 0 10.824 10.825A10.823 10.823 0 0 0 10.825 0Z' data-name='circle'/%3E%3Cpath d='m12.435 8.806-3.125.392-.112.52.614.113c.4.1.48.24.393.64l-1.007 4.731c-.265 1.224.143 1.8 1.1 1.8a2.826 2.826 0 0 0 2-.816l.121-.568a1.512 1.512 0 0 1-.936.336c-.375 0-.512-.263-.415-.727Z' data-name='line'/%3E%3Ccircle cx='1.365' cy='1.365' r='1.365' data-name='dot' transform='translate(9.801 4.591)'/%3E%3C/svg%3E");
    background-size: 22px 22px;
    background-repeat: no-repeat;
}

// The small ones for key-capturing.
.btn-light {
    &.key-assigner {
        transition: all 0.5s ease-in-out;
        min-width: 134px;
        font-weight: 300;
        font-size: 0.9rem;
        --bs-btn-color: var(--trvl-c-dark) !important;
        --bs-btn-bg: #afbbb5; // AAA Pass @todo: Move to base.scss.
        --bs-btn-border-color: rgba(var(--dark-gray-rgb), 0.5);
        --bs-btn-hover-color: var(--trvl-btn-hover-color);
        --bs-btn-hover-bg: #afbbb5; // AAA Pass @todo: Move to base.scss.
        --bs-btn-hover-border-color: var(--trvl-c-dark);
        --bs-btn-focus-shadow-rgb: var(--trvl-btn-focus-shadow-rgb);
        --bs-btn-active-color: var(--black);
        --bs-btn-active-bg: var(--white);
        --bs-btn-active-border-color: var(--white);
        --bs-btn-active-shadow: inset 0 3px 5px
            rgba(var(--trvl-c-dark-rgb), 0.125);
        --bs-btn-disabled-color: var(--trvl-btn-disabled-color);
        --bs-btn-disabled-bg: #afbbb5; // AAA Pass @todo: Move to base.scss.
        --bs-btn-disabled-border-color: rgba(
            var(--unnamed-color-faf9f8-rgb),
            0.1
        );
    }
}
button.key-assigner.active {
    box-shadow: 0 0 0 0.3rem rgba(244, 156, 41, 0.56);
    &.invalid {
        animation: btn-shake 0.8s cubic-bezier(0.34, 0.06, 0.18, 0.94) both;
    }
}
button.key-assigner.invalid {
    box-shadow: 0 0 0 0.3rem rgba(244, 12, 4, 0.56);
}

// Game select fully-accessible buttons

// Board & Pawn buttons
.board {
    // Allows the absolute placement of other elements on top of these buttons.
    max-height: 252px;
}
.pawn {
    // Allows the absolute placement of other elements on top of these buttons.
    max-height: 212px;
}

// General overrides when switcher is enabled.
body.switcher {
    .btn-board:not(.switcher-focus):hover,
    .btn-pawn:not(.switcher-focus):hover {
        border: 0.3rem solid rgba(var(--trvl-c-dark-rgb), 0.4);
    }
}

.btn-board,
.btn-pawn {
    --bs-btn-disabled-opacity: 1;
    --bs-btn-disabled-border-color: transparent;
    display: block;
    position: relative;
    box-sizing: initial;
    margin: 0 auto;
    padding: 0;
    background-color: transparent;
    border: 0.3rem solid transparent;
    transition: all 0.3s ease-in-out;
    outline: none !important;
    // Hover, Focus & Active states for mouse navigation
    &:hover {
        border: 0.3rem solid var(--trvl-c-dark);
        box-shadow: 0 1em 1em rgba(var(--trvl-c-dark-rgb), 0.1);
    }
    &:focus,
    &:focus-visible {
        border: 0.3rem solid var(--trvl-c-dark);
    }
    &:active {
        border: 0.3rem solid var(--trvl-c-dark);
        box-shadow: 0 1em 1em rgba(var(--trvl-c-dark-rgb), 0.3);
    }
    // Switcher focus-active states overriding mouse:hover
    &.switcher-focus,
    &.switcher-active {
        border: 0.3rem solid var(--trvl-c-dark);
    }
    &.switcher-active {
        border: 0.3rem solid var(--trvl-c-dark);
        box-shadow: 0 1em 1em rgba(var(--trvl-c-dark-rgb), 0.3);
    }
    &.selected-by-other-player {
        background-color: rgba(11, 33, 34, 0.5);
        box-shadow: 0 1em 1em rgba(var(--trvl-c-dark-rgb), 0.2);
        position: relative;
        &:before {
            content: "Εσύ!";
            display: inline-block;
            width: 100%;
            position: absolute;
            top: 50%;
            padding: 0.2em;
            font-weight: bold;
            background: rgba(0, 0, 0, 0.5);
            color: #fff;
        }
        &.pawn-button-6:before {
            top: 8%;
        }
        .pawn-label {
            opacity: 0.9;
            color: var(--trvl-c-bright);
        }
    }
}

.btn-pawn {
    width: 136px;
    height: 212px;
    border-radius: 18px;
}

.btn-board {
    width: 352px;
    height: 244px;
    border-radius: 42px;
}

// Board & Pawn Images
.board-img,
.pawn-img {
    margin: 0;
    padding: 0;
    border-width: 0;
}
.pawn-img {
    border-radius: 18px;
    width: 136px;
    height: 212px;
    display: inline-block;
}
.board-img {
    width: 352px;
    height: 244px;
    display: inline-block;
    background-color: var(--trvl-btn-bg);
    border-radius: 42px;
    box-shadow:
        // inset 0 0.1em 1em rgba(var(--trvl-c-dark-rgb), 0.111),
        0 0.3em 0.6em rgba(var(--trvl-c-dark-rgb), 0.161),
        0 0.1em 0.1em rgba(var(--trvl-c-dark-rgb), 0.222);
    &.blank {
        display: block;
    }
}
// Board & Pawn labels
.board-label,
.pawn-label {
    display: block;
    position: relative;
    font-weight: bold;
}
.pawn-label {
    bottom: 2.5rem;
    font-size: 1.2rem;
    color: var(--trvl-c-text);
}
.board-label {
    top: 1rem;
    &.blank {
        font-size: 1.3rem;
        top: -8.5rem;
    }
}

// Default Pawn Hover for mouse navigation
.btn-pawn:hover .pawn-img {
    background-color: rgba(250, 249, 248, 0.25);
}
// Switcher Focus & Active states (overrides mouse:hover)
.btn-pawn.switcher-focus .pawn-img,
.btn-pawn.switcher-active .pawn-img {
    background-color: rgba(250, 249, 248, 0.5);
}

.btn-board:hover .board-label,
.btn-board:focus .board-label,
.btn-board:focus-visible .board-label {
    /* font-size: 1.8rem; */
    scale: 1.6;
    font-weight: 800;
    &.blank {
        scale: 1.3;
    }
    @media (prefers-reduced-motion) {
        scale: 1 !important;
    }
}
// Disabled Board & Pawn
.btn-pawn.disabled:focus,
.btn-pawn.disabled:focus-visible,
.btn-board.disabled:focus,
.btn-board.disabled:focus-visible {
    border: 0.3rem solid transparent;
}
.btn-pawn.disabled:focus .pawn-label,
.btn-pawn.disabled:focus-visible .pawn-label,
.btn-board.disabled:focus .board-label,
.btn-board.disabled:focus-visible .board-label {
    /* font-size: 1.8rem; */
    scale: 1;
    font-weight: bold;
}
// Coming soon (on top of a disabled board)
.btn-board .coming-soon-wrapper {
    display: block;
    position: relative;
    float: right;
    overflow: hidden;
    bottom: calc(244px + 1.5rem);
    border-start-end-radius: 42px;
}
.btn-board .coming-soon {
    content: "";
    display: block;
    position: relative;
    border-style: solid;
    border-width: 0 105px 105px 0;
    border-color: transparent #287971 transparent transparent;
    text-align: center;
    // bottom: calc(244px + 1.5rem);
    // border-start-end-radius: 42px;
    opacity: 0.9;
    float: right;
    z-index: 200;
}
.btn-board .coming-soon strong {
    content: "ΠΡΟΣΕΧΩΣ!";
    display: block;
    position: absolute;
    border-style: solid;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border: none;
    font-weight: 800;
    z-index: 201;
    color: #fff;
    top: 1.9rem;
    left: 1.1rem;
}
.btn-board.disabled .board-img {
    opacity: 0.5;
    filter: grayscale(95%);
}

// Circular button used for moving "Back"
.btn-circle {
    --bs-btn-hover-border-color: var(--trvl-c-dark);
    --bs-btn-bg: #eaeaea;
    width: 5.2rem;
    height: 5.2rem;
    line-height: 5.2;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    border: 0.3rem solid #7d7f8a;
    span {
        display: block;
        position: relative;
        bottom: 0.8rem;
    }
    &:focus,
    &:focus-visible {
        outline: none !important;
        box-shadow: none;
    }
    &:hover {
        border: 0.3rem solid var(--trvl-c-dark);
        box-shadow: 0 2px 2px rgba(var(--trvl-c-dark-rgb), 0.1);
    }
}
// Invert button for switcher-focus:
.btn-circle.switcher-focus {
    background-color: var(--trvl-c-dark);
    color: var(--trvl-c-bright);
}

/* Button sizes */
// Large button
.btn-lg {
    // Calibrated on "Εγγραφή" for a target of 144x44 pixels:
    --bs-btn-font-size: 1.25em; // a little bit bigger than the default 1em
    --bs-btn-font-weight: 600; // a little bit bolder than the default
    --bs-btn-padding-y: 0.4em; // default
    --bs-btn-padding-x: 1.6em; // default
    --bs-btn-line-height: 1.4em;
    --bs-btn-border-radius: 1.4em;
}

/* Responsiveness */
// Portrait phones
@media (max-width: 575.98px) {
    div.form-actions.responsive-expand button,
    button.responsive-expand,
    a.responsive-expand {
        width: 100%;
    }
    a.btn-circle.responsive-expand {
        border-radius: 1rem;
        height: auto;
        line-height: 1;
        padding: 0.75rem;
        margin-top: -2rem;
        margin-bottom: 2rem;
        span {
            display: inline;
            position: initial;
            bottom: 0;
        }
    }
}

@keyframes btn-shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}
