/* Buttons */

// Fields
.field.is-invalid,
.field-group.is-invalid {
    .field-legend,
    .field-label,
    .field-description,
    .captcha-prompt {
        color: var(--trvl-danger);
    }
    .captcha-prompt {
        font-weight: 600;
    }
    .field-input.underlined {
        box-shadow: inset 0 -0.25rem hsla(var(--trvl-danger-hsl), 0.1);
        border-bottom-color: var(--trvl-danger);
        &:focus,
        &:focus-visible,
        &:focus-within {
          box-shadow: inset 0 -0.25rem hsla(var(--trvl-danger-hsl), 0.2);
        }
    }
    .field-description.big {
        background-color: hsla(var(--salmon-red-hsl), 0.01);
    }
}
.field-description {
    padding-top: 1rem;
    font-size: 0.9em;
    &.big {
        font-size: 1rem;
    }
}

.captcha .captcha-prompt {
    display: inline-block;
    position: relative;
    background: transparent;
    line-height: 1.5;
    padding-bottom: 0.5rem;
}
.captcha .field-input {
    text-align: center;
    width: 8rem;
}

// Inputs: Indicated field-groups with multiple sub-options
.field-group.indicate-status {
    transition: 240ms transform ease-in-out;
    input[type="radio"]:checked + label {
        // text-decoration: underline;
        box-shadow: 0 0.15rem rgba(0, 0, 0, 0.8);
    }
    input[type="radio"]:not(:checked) + label {
        opacity: 0.5;
    }
}

// Inputs: Ranges
.form-range::-moz-range-thumb {
    background-color: var(--trvl-c-text);
}
.form-range::-webkit-slider-thumb {
    background-color: var(--trvl-c-text);
}
.form-range-ruler {
    opacity: 0.9;
    top: -5px;
    position: relative;
    margin-left: 0.35rem;
    margin-right: 0.35rem;
}
.form-range-ruler > .ruler {
    font-size: 0.9em;
}

// Inputs: Radios
input[type="radio"] {
    // Importants fights with Bootstrap
    -webkit-appearance: none !important;
    appearance: none !important;
    background-color: var(--trvl-c-background) !important;
    border-color: currentColor !important;
    background-image: none !important;
    filter: none !important;
    margin: 0;
    margin-right: 0.5em;
    font: inherit;
    color: currentColor;
    width: 1em;
    height: 1em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(0.3em);
    display: grid;
    place-content: center;
    float: left;
}
input[type="radio"]::before {
    content: "";
    width: 0.75em;
    height: 0.75em;
    border-radius: 50%;
    transform: scale(0);
    transition: 240ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--trvl-c-text);
}
input[type="radio"]:checked::before {
    transform: scale(0.7);
}
input[type="radio"]:focus {
   // Importants fights with Bootstrap;
     box-shadow: none !important;
}
input[type="radio"]:focus-visible {
    // Importants fights with Bootstrap;
    box-shadow: 0 0 0 0.25em rgba(var(--trvl-btn-focus-shadow-rgb), 0.5) !important;
}

// Inputs: Checkboxes
input[type=checkbox] {
    background-color: var(--trvl-btn-bg);
    border-color: var(--trvl-c-text);
    &:checked {
      border-color: var(--trvl-c-text);
      background-color: var(--trvl-c-text);
    }
    &:focus {
      border-color: var(--trvl-c-text);
      // box-shadow: 0 0 0 0.25rem rgba(var(--trvl-btn-focus-shadow-rgb), 0.55);
      box-shadow: 0 0 0 0.25em hsla(var(--trvl-shadow-focus-hsl), 0.5);
    }
}

// Inputs: Text & numeric
input {
    outline: none; // @TODO: Outlines for focus
    &:focus:not([type=range]),
    &:focus-visible:not([type=range]),
    &:focus-within:not([type=range]) {
        box-shadow: inset 0 -0.25em hsla(var(--trvl-shadow-focus-hsl), 0.4);
    }
    &.underlined {
      border-bottom: 2px solid var(--trvl-c-text);
      border-left: none;
      border-right: none;
      border-top: none;
      font-weight: 300; // a little bit less bolder than the normal (400)
      line-height: 2.5;
      background-color: var(--trvl-c-background);
    }
    &.extended {
      width: 100%;
    }
    &.big {
      font-size: 2em;
      line-height: inherit;
      &:focus,
      &:focus-visible,
      &:focus-within {
        box-shadow: inset 0 -0.15em hsla(var(--trvl-shadow-focus-hsl), 0.4);
      }
    }
}

// Labels
legend,
label {
    font-weight: 600; // make sure we have a regular/normal weight
    &.extended {
      display: block;
      padding-bottom: 0.5em;
    }
    &.medium {
        font-size: 1.125em;
        font-weight: 700;
    }
    &.big {
      font-size: 1.25em;
      font-weight: 700;
    }
  }
