// Steppers
.stepper {
    margin-bottom: 2.5em;
    min-height: 66px;
    .btn {
        --bs-btn-border-width: 3px;
        --bs-btn-focus-shadow-rgb: var(--trvl-btn-focus-shadow-rgb);
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-active-color: var(--trvl-btn-active-color);
        --bs-btn-active-bg: var(--trvl-btn-active-bg);
        --bs-btn-active-border-color: var(--trvl-btn-active-border-color);
        --bs-btn-disabled-color: var(--trvl-c-background);
        --bs-btn-disabled-bg: #2f3130;
        --bs-btn-disabled-border-color: #2f3130;
        --bs-btn-disabled-opacity: 1;
        position: relative;
        padding: 0;
        margin: 0;
        z-index: 98;
        width: 66px;
        height: 66px;
        font-size: 32px;
        font-weight: 800;
        &.past {
            --bs-btn-color: #444947; // #2f3130; // var(--trvl-c-background);
            --bs-btn-bg: var(--trvl-btn-bg);
            --bs-btn-border-color: #3d413f;
            --bs-btn-border-width: 3px;
            --bs-btn-hover-bg: var(--trvl-btn-bg);
            --bs-btn-hover-color: #2f3130; // #2f3130
            --bs-btn-hover-border-color: #2f3130;
        }
        &.current,
        :disabled {
            --bs-btn-bg: #2f3130;
            --bs-btn-color: var(--trvl-c-background);
            --bs-btn-hover-bg: #2f3130;
            --bs-btn-hover-color: var(--trvl-btn-bg);
        }
    }
    .step1 {
        min-height: 66px;
        &-1 {
            background-image: url("../../images/bg-stepper-profile-step-1-1.png");
            background-repeat: no-repeat;
            background-position-x: right;
            background-position-y: center;
            background-size: 149px 66px;
        }
        &-2 {
            background-image: url("../../images/bg-stepper-profile-step-1-2.png");
            background-repeat: no-repeat;
            background-position-x: left;
            background-position-y: center;
            background-size: 1203px 66px;
            .btn {
                left: -20px;
                top: 10px;
            }
        }
    }
    .step2 {
        min-height: 66px;
        &-1 {
            background-image: url("../../images/bg-stepper-profile-step-2-1.svg");
            background-repeat: no-repeat;
            background-position-x: right;
            background-position-y: center;
            background-size: 149px 66px;
        }
        &-2 {
            background-image: url("../../images/bg-stepper-profile-step-2-2.svg");
            background-repeat: no-repeat;
            background-position-x: left;
            background-position-y: center;
            background-size: 100% 66px;
            .btn {
                left: -20px;
                top: 10px;
            }
        }
        &-3 {
            background-image: url("../../images/bg-stepper-profile-step-2-3.svg");
            background-repeat: no-repeat;
            background-position-x: left;
            background-position-y: center;
            background-size: 100% 66px;
            .btn {
                left: -50px;
                top: 10px;
            }
        }
    }
    .step3 {
        min-height: 66px;
        &-1 {
            background-image: url("../../images/bg-stepper-profile-step-3-1.svg");
            background-repeat: no-repeat;
            background-position-x: right;
            background-position-y: center;
            background-size: 149px 66px;
        }
        &-2 {
            background-image: url("../../images/bg-stepper-profile-step-3-2.svg");
            background-repeat: no-repeat;
            background-position-x: left;
            background-position-y: center;
            background-size: 100% 66px;
            .btn {
                left: -20px;
                top: 10px;
            }
        }
        &-3 {
            background-image: url("../../images/bg-stepper-profile-step-3-3.svg");
            background-repeat: no-repeat;
            background-position-x: left;
            background-position-y: center;
            background-size: 100% 66px;
            .btn {
                left: -50px;
                top: 10px;
            }
        }
        &-4 {
            background-image: url("../../images/bg-stepper-profile-step-3-4.svg");
            background-repeat: no-repeat;
            background-position-x: left;
            background-position-y: center;
            background-size: 251px 66px;
            .btn {
                left: -50px;
                top: 20px;
            }
        }
    }
}
