.kicon {
    position: relative;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    width: 1.7rem;
    height: 1.7rem;
    line-height: 1;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    border-radius: 50%;
    background: transparent;
    color: var(--trvl-color);

    @media (width <= 575.98px) {
        &-right {
            left: -0.5rem;
        }
    }

    &:hover,
    &:hover:active {
        color: var(--color-black);
        background: hsla(40deg, 3%, 21%, 0.1);
        box-shadow: 0 0 0 0.5rem hsla(40deg, 3%, 21%, 0.1);
    }

    &:focus:not(:hover),
    &:focus-visible:not(:hover) {
        @include focus-ring;
    }

    svg {
        width: 1.7rem; // 25px
        height: 1.7rem;
        box-shadow: none !important;
    }
}

.kicon-chevron-left svg {
    margin-left: 0.15rem;
}

.kicon-chevron-right svg {
    margin-left: -0.3rem;
}
