html,
body {
  height: 100%;
}

div.trvl-container.fixedwh {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1336px;
  height: 100%;
  margin: 0 auto;
}
div.trvl-container.fixedwh header {
  padding: 2em 2em 0 4em;
}
div.trvl-container.fixedwh header small {
  margin-top: 0.5em;
  display: block;
}
div.trvl-container.fixedwh footer {
  padding: 0 2em 2em 2em;
}
div.trvl-container.fixedwh div.trvl-content {
  border: 1px dotted rgba(0, 0, 0, 0.25);
  min-width: 1336px;
  height: 768px;
}
div.trvl-container.fixedwh div.trvl-main {
  display: flex;
}
div.trvl-container.fixedwh div.trvl-center {
  -moz-column-width: 1006px;
       column-width: 1006px;
}
div.trvl-container.fixedwh div.trvl-side {
  -moz-column-width: 330px;
       column-width: 330px;
}

div.trvl-form {
  padding: 0 8em;
}
div.trvl-form form > div {
  margin: 4em 2em;
}
div.trvl-form div.actions {
  margin-top: 4em;
  margin-bottom: 0;
  text-align: center;
}

div.trvl-side {
  min-height: 100%;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0;
}

div.side-bg--12 {
  background-image: url(/images/bg-side-color-12.png?31c23be93e67ea15497ec428cf15e65c);
  background-repeat: no-repeat;
  background-position: top;
}

div.flowers--14 {
  background-image: url(/images/bg-side-flower-12.png?eb3262c96a0dd65fc9b2eb1c8a1abb8a);
  background-repeat: no-repeat;
  background-position: bottom;
  width: 311px;
  height: 489px;
  margin-top: 5em;
  margin-left: 1em;
}
